* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
}

/*--------------------------------------------
            Banner Part CSS Start
---------------------------------------------*/
.top-banner {
    background: url(images/banner01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    margin-bottom: 100px;
}

.top-banner h1 {
    font-size: 60px;
}

.link-button {
    text-decoration: none;
    background-color: #FF5959;
    color: white;
    padding: 15px 30px;
    margin-top: 20px;
    border-radius: 5px;
    font-weight: bold;
}

.banner-div p {
    margin-bottom: 30px;
}

.banner-div {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-image: linear-gradient(360deg, black, transparent);
}

/*--------------------------------------------
            Banner Part CSS End
---------------------------------------------*/
/*---------------------------------------------
            Donation Today Part Start
---------------------------------------------*/
.donation-today {
    align-items: center;
    justify-items: center;
    text-align: center;
    min-width: 700px;
}

.donation-today ul {
    align-items: center;
    justify-content: center;
    min-height: 100px;
    display: flex;
    padding: 30px 50px;
    list-style-type: none;
    margin: 25px;
}

.donation-today ul li {
    padding: 30px;
    margin: 15px;
    max-width: 100px;
    min-width: 100px;
    justify-content: center;
    display: flex;
    min-height: 100px;
    min-height: 100px;
    background-color: rgb(255, 255, 255);
    color: gray;
}

#active {
    border: 2px solid#FF5959;;
    background-color: #FF5959;
    justify-content: center;
    text-align: center;
    background-color: #ffeeee;
    border-radius: 5px;

}

.heading-part {
    text-align: center;

}

.heading-part p {
    color: gray;
}

.heading-part h1 {
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
}

.donation-today input[type=Number] {
    text-align: center;
    border: none;
    display: block;
    justify-content: center;
    border-bottom: 1px solid gray;
    width: 65%;
    font-size: 18px;
    padding: 6px;
    margin: 20px auto;

}

.link-button-donate {
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #FF5959;
    margin-bottom: 100px;
    cursor: pointer;
}

/*-------------------------------------------
             Donation Today Part End
--------------------------------------------*/

/*-------------------------------------------
             Donation Plan Part Start
--------------------------------------------*/
.donation-plan{
    margin: 0 auto;
    max-width: 1000px;
}
.plan-item{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 100px;
}
.plan-item .itemOne{
    padding: 50px 20px;
    line-height: 1.7;
    width: 32%;
}
.img{
    padding-bottom: 20px;
}
#P-item1{
    background-color: #edf5f6;
}
#P-item2{
    background-color: #ffeeee;
}
#P-item3{
    background-color: #fff4d6;
}
.plan-paragraph{
    margin-bottom: 40px;
}
/*-------------------------------------------
             Donation Plan Part End
--------------------------------------------*/
.our-volunteers{
    align-items: center;
    text-align: center;
    justify-items: center;
    
}
.volunteers-gallery{
    display: flex;
    align-items: center;
    text-align: center;
    justify-items: center;
    margin-left: 110px;
    margin-bottom: 100px;
}
.volunteers-gallery img{
    width: 15%;
    height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 10px 20px;
    opacity: 0.9;
    transition: 0.3;
    cursor: pointer;
}
.volunteers-gallery img:hover{
    width: 20%;
    opacity: 1;
}





.email-part input[type=email]{
    padding: 15px 50px;
    border: none;
    color: gray;
    border-radius: 5px;
    background-color: #d9d9d9;
    display: inline-block;
    border-bottom-right-radius: 0;
}
.email-part{
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 70px 70px;
    background-color: #fff4d6;
    background-size: 50% auto;
    width: 100%;
    
    
    
}
.email-part ::placeholder{
    padding-left: 10px;
}
.subscribe-btn{
    padding: 15px 30px;
    background-color: #FF5959;
    font-weight: bold;
    color: white;
    border: none;
    border-left: 0;
    display: inline-block;
    border-radius: 5px;
    margin-left: 0 auto;
    cursor: pointer;

}

/*-------------------------------------------
             Footer Part Start
--------------------------------------------*/
.footer-part{
    padding:50px ;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    background-color: black;
    margin-top: 100px;
    color: lightgray;
}

.footer-part h1{
    color: tomato;
    font-family: 'Lobster', cursive;
}
/*-------------------------------------------
             Footer Part End
--------------------------------------------*/
